/**** Start: universal selector ****/
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: 'Roboto Condensed';
}
/**** End: universal selector ****/
html, body{
	background: #1d1d1d;
}
#wrapper{
	width: 100%;
}

#header-wrap {
	height: 100px;
	color: #0052CC;
	padding: 30px;
	font-size: 20px;
	text-align: center;
}

.question{
	font-size: 34px;
	padding: 10px;
}

/**** Start: Voice Interface section ****/
#interface-section{
	background: #1d1d1d;
	height: 65%;
	color: #fff;
	text-align: center;
	padding: 20px;
}
#interface-section img{
	width: 120px;
	height: 120px;
}
textarea{
	width: 80%;
	height: 100px;
	margin: 0 auto;
	outline: none;
	border: none;
	resize: none;
	display: block;
	background: none;
	margin-top: 3%;
	font-size: 30px;
	text-align: center;
	overflow-y: scroll;
}
/**** End: Voice Interface section ****/
#solution-section{
	color: #0052CC;
}


.frame{
	margin: 0 auto;
}
.record-btn{
	border: 1px solid #fff;
	border-radius: 50%;
	height: 120px;
	width: 120px;
	margin: 0 auto;
	font-size: 60px;
	padding: 30px;
}

.font-color{
	color: #fff;
}

.solution-section{
	width: 70%;
	margin: 0 auto;
	font-size: 50px;
	text-align: center;
	padding: 15px;
	border: 1px dashed;
}
