<html ng-app = "einstein">
    <head>
        <title>Einstein</title>
        <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
        <link rel = "stylesheet" href = "/stylesheets/main.css">
        <link rel = "stylesheet" href = "/stylesheets/voice-waves.css">
        <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    </head>
    <body>
        <div id = "wrapper" ng-controller = "einsteinController">
            <div id = "header-wrap">
                <span class = "einstein-title">
                    Einstein
                </span>
            </div>
            <div id = "interface-section">
                <div class = "mike-area" style = "height: 200px">
                    <div class = "record-btn" ng-click = "startRecognition()" ng-if = "isRecord == false">
                        <img src="/images/voice-recorder.png" width="200px" height="200px" />
                    </div>
                    <div class = "frame" ng-if = "isRecord == true">
                      <div class = "dot-1"></div>
                      <div class = "dot-2"></div>
                      <div class ="dot-3"></div>
                    </div>
                </div>

                <textarea>{{search.data}}</textarea>
            </div>
            <div id = "solution-section">
                {{search.result}}
            </div>
        </div>
        <script type = "text/javascript" src = "/js/scripts.js"></script>
    </body>
</html>
